/*untuk tablet*/
@media all and (max-width: 1000px){
	header, img{
		width: 100%;
	}
	br{
		display: none;
	}
	.contact{
		display: flex;
		padding-left: 250px;
	}
	.contents-item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.contents-item p{
		font-size: 25px;
		padding-left: 100px;
		padding-right: 100px;
	}
	.btn{
		margin-bottom: 50px;
		padding: 18px 20px;
	}
	.click{
		font-size: 18px;
	}
	.footer-left{
		padding-top: 10px;
		float: left;
		width: 50%;
	}
	.footer-right{
		float: right;
		width: 40%;
		margin-left: 0 auto;
	}
	.footer{
		padding-top: 70px;
		text-align: center;
		margin-bottom: 30px;

	}
	footer{
		padding-left: 50px;
		padding-right: 50px;
	}
	footer p{
		font-size: 10px;
	}
}

/*untuk smartphone*/
@media all and (max-width: 670px){
	header, img{
		width: 100%;
	}
	br{
		display: none;
	}
	.contact{
		width: 120px;
		padding-left: 130px;
		
	}
	.contents-item p{
		font-size: 18px;
		padding-left: 40px;
		padding-right: 40px;
		
		margin-bottom: 35px;
	}
	.btn{
		margin-bottom: 50px;
		padding: 13px 18px;
	}
	.click{
		font-size: 12px;
	}
	.footer-left{
		padding-top: 0px;
		width: 100%;
	}
	.footer-right{
		width: 80%;
		padding-right: 40px;
	}
	footer{
		padding: 0px;
	}
	footer p{
		font-size: 11px;
		text-align: center;
	}
}
